:root {
  --titleHeight: 250px;
  --titleGraphicHeight: 180px;

  --footerHeight: 290px;
  --footerGraphicHeight: 122px;
}

html {
  background-color: black;
}

body {
  margin: 0;
}

/* Title Box styling //////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.titleDiv {
  width: 100%;
  height: var(--titleHeight);
  background: linear-gradient(180deg, #251D58 11.25%, #1C246D 25.32%, rgba(67, 85, 250, 0.58) 59.95%, rgba(94, 117, 236, 0.331429) 72.94%, rgba(62, 73, 171, 0) 90.26%);
}

.navBarDiv {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: var(--titleHeight);
}

.titleGraphic {
  width: 100%;
  height: var(--titleGraphicHeight);
  background: url(./images/titleGradient.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Nav Bar Styling */
.navBar {
  width: auto;
  height: 60px;
  margin-bottom: 80px;
  margin-right: 10px;
  padding: 0;
  text-align: end;
  border-style: none none solid none;
  border-color: white;
}
.navBar li {
  display: block;
  float: left;
  margin: 0 5px 0 5px;
  font-size: 40px;
  color: white;
}

/* Content Box Styling ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contentParentDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* background: radial-gradient(27.15% 27.15% at 50% 50%, rgba(202, 202, 202, 0.37) 0%, #000000 100%); */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: indianred; */
}

.featuredContentDiv {
  margin: 30px;
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
}

#middle {
  width: 300px;
  height: 460px;
}

.featuredContentDiv div {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 110px;
  border-radius: 15px;
  background-color: #251D58;
}


/* Footer Box Styling /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerDiv {
  display: flex;
  width: 100%;
  height: 290px;
  height: var(--footerHeight);
  background: linear-gradient(0deg, #251D58 11.25%, #1C246D 25.32%, rgba(67, 85, 250, 0.58) 59.95%, rgba(94, 117, 236, 0.331429) 72.94%, rgba(62, 73, 171, 0) 90.26%);
  
}

.footerGraphic {
  align-self: flex-end;
  transform: scaleY(-1);
  width: 100%;
  height: var(--footerGraphicHeight);
  background: url(./images/titleGradient.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}